/* Heading style */
h1 {
	font-size: 1.17rem;
}

/* Fieldset for address search inputs */
fieldset {
	background-color: #e5e5e5;
	border: none;
	border-radius: 0.5rem;
	margin: 0;
}

/* Form labels */
label {
	display: block;
	margin-block: 1.25rem 0.25rem;
}

/* General form inputs */
input,
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	height: 40px;
	margin-block-end: 0.5rem;
	border: solid lightgray 1px;
}

/* Default button styles */
button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #292929;
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
}

/* Wrapper for Autocomplete search input */
#autocomplete_wrap {
	position: relative;
}

/* Dropdown list for returned search terms */
#suggestion_list {
	position: absolute;
	background-color: #fff;
	outline: -webkit-focus-ring-color auto 1px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 400px;
	overflow-y: auto;
}

#suggestion_list li {
	cursor: pointer;
	padding: 0.5rem 1rem;
}

#suggestion_list li.header {
	border-bottom: 2px solid #ddd;
}

#suggestion_list li:hover,
#suggestion_list li.selected {
	background-color: #ddd;
}

#suggestion_list li span.extra-info {
	font-size: 0.75em;
	color: #666;
}

/* Back arrow that appears in drop down list */
.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.arrow.left {
	margin-left: 3px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

/* Set the body tag defaults */
body {
	font-family: sans-serif;
}
